@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 400;
    src: local('General Sans'), url('https://fonts.cdnfonts.com/s/85793/GeneralSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'General Sans';
    font-style: italic;
    font-weight: 400;
    src: local('General Sans'), url('https://fonts.cdnfonts.com/s/85793/GeneralSans-Italic.woff') format('woff');
}
@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 200;
    src: local('General Sans'), url('https://fonts.cdnfonts.com/s/85793/GeneralSans-Extralight.woff') format('woff');
}
@font-face {
    font-family: 'General Sans';
    font-style: italic;
    font-weight: 200;
    src: local('General Sans'), url('https://fonts.cdnfonts.com/s/85793/GeneralSans-ExtralightItalic.woff') format('woff');
}
@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 300;
    src: local('General Sans'), url('https://fonts.cdnfonts.com/s/85793/GeneralSans-Light.woff') format('woff');
}
@font-face {
    font-family: 'General Sans';
    font-style: italic;
    font-weight: 300;
    src: local('General Sans'), url('https://fonts.cdnfonts.com/s/85793/GeneralSans-LightItalic.woff') format('woff');
}
@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    src: local('General Sans'), url('https://fonts.cdnfonts.com/s/85793/GeneralSans-Medium.woff') format('woff');
}
@font-face {
    font-family: 'General Sans';
    font-style: italic;
    font-weight: 500;
    src: local('General Sans'), url('https://fonts.cdnfonts.com/s/85793/GeneralSans-MediumItalic.woff') format('woff');
}
@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 600;
    src: local('General Sans'), url('https://fonts.cdnfonts.com/s/85793/GeneralSans-Semibold.woff') format('woff');
}
@font-face {
    font-family: 'General Sans';
    font-style: italic;
    font-weight: 600;
    src: local('General Sans'), url('https://fonts.cdnfonts.com/s/85793/GeneralSans-SemiboldItalic.woff') format('woff');
}
@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 700;
    src: local('General Sans'), url('https://fonts.cdnfonts.com/s/85793/GeneralSans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'General Sans';
    font-style: italic;
    font-weight: 700;
    src: local('General Sans'), url('https://fonts.cdnfonts.com/s/85793/GeneralSans-BoldItalic.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'General Sans';
    font-weight: 500;
}

p {
    font-family: 'General Sans';
    font-weight: 200;
}

a {
    font-family: 'General Sans';
    font-weight: 500;
}
body {
    background: #DBDBDB;
}

.backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    mix-blend-mode: multiply;
    opacity: .35;
    pointer-events: none;
    z-index: 0;
}

.backgroundVideo video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.gallery {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.gallery .cards {
    position: absolute;
    width: 75vw;
    height: 50rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.gallery .cards .projectGallery {
    list-style: none;
    padding: 0;
    margin: 0;
    width: inherit;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.gallery .cards .projectGallery:hover {
    scale: 2;
}